@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flip-card {
    background-color: transparent;
    width: 50vw;
    height: 70vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


.flip-card.flipped .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #dcdcdc;
    color: black;
}

.flip-card-back {
    background-color: #dcdcdc;
    color: black;
    transform: rotateX(-180deg);
}

.pinyin-container {
    width: 100%;
    height: 15vh;
}

.card-sticker {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    background-color: #fff;
    color: #ffffff;
    border-radius: 4px;
    transform: skewY(-10deg) rotate(10deg);
    flex: 1;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
}

.card-sticker:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 70px solid #eee;
    border-right: 70px solid transparent;
    box-shadow: -7px 3px 7px rgba(0,0,0,0.3), 7px 7px 7px rgba(0,0,0,0), 7px -7px 7px rgba(0,0,0,0);
}

.card-sticker:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 0px;
    height: 0px;
    border-top: 72px solid #dcdcdc;
    border-left: 72px solid transparent;
}


@media only screen and (max-width: 768px) {
    .flip-card {
        width: 90vw;
        height: 70vh;
    }
    .flashcard-pinyin {
        width: 90vw;
    }

}